<div>
	<div class="container-fluid">
		<div class="row well">
			<p>Codes Applied</p>
			<ul class="applied-code-instances">
				<li ng-repeat="instance in user_instances">
					<span class="badge">{{instance.code_obj.name}}<a href="" ng-click="deleteCode(instance)"><span class="code-delete" >&times;</span></a>
						
					</span></li>
			</ul>
		</div>
	</div>

	<div ng-repeat="user in user">
		<!-- <div class="container-fluid" style="background-color: {{user.profile_background_color}}; background-image: url('{{user.profile_background_image_url}}'); color: #{{user.profile_text_color}};  "> -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<a href="http://www.twitter.com/{{user.screen_name}}/" target="_blank" class="btn btn-default">Twitter Account Page</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<img src="{{user.profile_image_url}}">
				</div>
				<div class="col-md-10">
					<h1>{{user.screen_name}}</h1>
					<h4>{{user.name}} ({{user.id}})</h4>
				</div>
			</div>

			<div class="row">
				<div ng-switch on="user.description">
					<span ng-switch-when="null" class="user-missing">No Description</span>
					<span ng-switch-default>{{user.description}}</span>
				</div>
				<div ng-switch on="user.location">
					<span ng-switch-when="null" class="user-missing">No location</span>
					<span ng-switch-default>{{user.location}}</span>
				</div>
			</div>

			<div class="row">
				<h3>Social Info</h3>
			</div>
			<div class="row">
				<div class="col-md-1 col-md-offset-1 well">
					<div class="row">Followers</div>
					<div class="row">{{user.followers_count}}</div>
				</div>
				<div class="col-md-1 col-md-offset-1 well">
					<div class="row">Following</div>
					<div class="row">{{user.friends_count}}</div>
				</div>
				<div class="col-md-1  col-md-offset-1 well">
					<div class="row">Listed</div>
					<div class="row">{{user.listed_count}}</div>
				</div>

			</div>
		</div>
		<div class="container-fluid">
			<ul class="styleless user-tweet-list">
				<li ng-repeat="tweet in user.tweets">
					<div class="row">
						<emTweet tweet="tweet" assignment="assignment"></emTweet>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>