				<div>
					<div class="code-sidebar-link">
						<p><a ui-sref="assignment({'assignment_id': {{assignment_id}} })"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Return to assignment</a></p>
					</div>
					<h2>Codes</h2>
					<div class="container-fluid">
						<div ng-controller="CodeListController as cntrl">
							<div>
								<form class="form" ng-submit="cntrl.addCode()">
									<div class="row">
										<div class="form-group">
											<label for="input-code-name" class="sr-only">Code name</label>
											<input type="text" class="form-control" id="input-code-name" placeholder="Code name" ng-model="cntrl.codeName" />
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<input type="submit" class="btn btn-primary" value="Apply code" />
											<input type="button" class="btn btn-default" value="Create new code" ng-show="!cntrl.filteredItems || (cntrl.filteredItems.length == 0) || (cntrl.filteredItems.length > 0 && cntrl.filteredItems[0].name != cntrl.codeName) " ng-click="cntrl.createCode(cntrl.codeName);"/>
										</div>
									</div>
								</form>
							</div>
							<div class="container-fluid">
								<div class="row">
									<div class="loading-container" ng-show="cntrl.codes"><span us-spinner spinner-key="code-list" spinner-start-active="true"></span>
									<ul class="code-scheme-code-list">
										<li ng-repeat="code in (cntrl.filteredItems = (cntrl.codes|filter:{ name: cntrl.codeName }))" class="code">
											<a href="" ng-click="cntrl.addCode(code.id);" class="code-link">{{code.name}}</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
	<div class="container-fluid">
		<p>Codes Applied</p>
								<div class="row well">
									<div class="loading-container"><span us-spinner spinner-key="code-instance-list" spinner-start-active="true"></span>
									</div>
									<ul class="applied-code-instances">
										<li ng-repeat="instance in user_instances">
											<span class="badge">{{instance.code_obj.name}}<a href="" ng-click="deleteCode(instance)"><span class="code-delete" >&times;</span></a>
												
											</span></li>
									</ul>
								</div>
							</div>					
				