				<div>
					<div class="code-sidebar-link">
						<h4>Current Assignment</h4>
						<p><a ui-sref="assignment({'assignment_id': {{assignment_id}} })"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Return to list</a></p>

						<div class="assignment-nav-links" ng-controller="AssignmentNavigationController as anc">
							<div class="row">
								<div ng-if="anc.prev_user" class="col-md-3 assignment-previous-user">
									<a ui-sref="code.user.tweets({'assignment_id': {{assignment_id}}, 'user_id': anc.prev_user, 'page': 1, 'list_type': 'tweets'})"><span class="glyphicon glyphicon-chevron-left"></span>Prev User</a>
								</div>
								<div class="col-md-6 assignment-status">{{anc.current_user_idx}} of {{anc.total_users}}</div>

								<div ng-if="anc.next_user" class="col-md-3 pull-right assignment-next-user">
									<a ui-sref="code.user.tweets({'assignment_id': {{assignment_id}}, 'user_id': anc.next_user, 'page': 1, 'list_type': 'tweets'})">Next User<span class="glyphicon glyphicon-chevron-right"></span></a>
								</div>
							</div>
						</div>

					</div>
					<h4>Codes</h4>
					<div class="container-fluid" ng-controller="CodeListController as cntrl">
						<div>
							<div>
								<form class="form" ng-submit="cntrl.addCode()">
									<div class="row">
										<div class="form-group">
											<label for="input-code-name" class="sr-only">Code name</label>
											<input type="text" class="form-control" id="input-code-name" placeholder="Code name" ng-model="cntrl.codeName" />
										</div>
									</div>
									<div class="row" ng-if="cntrl.codeName">
										<div class="form-group">
											<input type="submit" class="btn btn-default" value="Apply code" />
											<!-- <input type="button" class="btn btn-default" value="Create new code" ng-show="!cntrl.filteredItems || (cntrl.filteredItems.length == 0) || (cntrl.filteredItems.length > 0 && cntrl.filteredItems[0].name != cntrl.codeName) " ng-click="cntrl.createCode(cntrl.codeName);"/> -->
										</div>
									</div>
								</form>
							</div>

							<div class="row">
								<div class="code-scheme-code-list">
									<div class="loading-container" ng-show="cntrl.loading">
										<span us-spinner="{color: 'white'}" spinner-key="code-list" spinner-start-active="true"></span>
									</div>
									<ul class="styleless">
										<li ng-repeat="code in (cntrl.filteredItems = (cntrl.codes|filter:{ name: cntrl.codeName }))" class="code" ng-class="{applied: ( cntrl.isApplied(code.id) === true) }">
											<div class="code-item-container">
												<a href="" ng-click="cntrl.addCode(code.id);" class="code-link" title="Click to apply code">
													<span class="code-key" ng-class="{missing: (!code.key)}">
														<span>{{code.key}}</span>
													</span>
													<span class="code-name">{{code.name}}</span></a>
												<div class="code-delete-container pull-right" ng-if="cntrl.isApplied(code.id)">
													<a href="" ng-click="cntrl.deleteCodeById(code.id)"  title="Click to remove '{{code.name}}' code"><span class="code-delete" ><span class="glyphicon glyphicon-remove-sign"></span></span></a>
												</div>
											</div>


										</li>
									</ul>
									<ul class="unfiltered-code-list styleless">
										<li ng-repeat="code in cntrl.codes|filter:({ name: '!' + cntrl.codeName })" class="code" ng-class="{applied: ( cntrl.isApplied(code.id) === true) }">
											<div class="code-item-container">
												<a href="" ng-click="cntrl.addCode(code.id);" class="code-link" title="Click to apply code">
													<div class="code-key" ng-class="{missing: (code.key)}">
														<span>{{code.key}}</span>
													</div>
													<span class="code-name">{{code.name}}</span></a>
												<div class="code-delete-container pull-right" ng-if="cntrl.isApplied(code.id)">
													<a href="" ng-click="cntrl.deleteCodeById(code.id)"  title="Click to remove '{{code.name}}' code"><span class="code-delete" ><span class="glyphicon glyphicon-remove-sign"></span></span></a>
												</div>
											</div>

										</li>
									</ul>

								</div>
							</div>

						</div>
					</div>
			</div>					
				
