	<div class="tweet-normal" >
		<div class="tweet-in-reply-to-tweet" ng-if="tweet.in_reply_to_status">
			<div class="container-fluid">
				<div class="row">
					<div class="tweet-profile-img-outer">
						<div class="tweet-profile-img-container">
							<tweet-profile-image user="tweet.in_reply_to_status.user" size="small"></tweet-profile-image>
						</div>
					</div>
					<div class="col-md-10">
						<div class="tweet-header">
							<span class="user-tweet-name">{{tweet.in_reply_to_status.user.name}}</span>
							<span class="user-tweet-screen-name"><tweet-user user_id="tweet.in_reply_to_status.user.id" screen_name="tweet.in_reply_to_status.user.screen_name"></tweet-user></span>
							<span class="user-tweet-dot">&middot;</span>
							<span class="user-tweet-creation-time">{{tweet.in_reply_to_status.created_ts | amDateFormat:'MMM Do YYYY  h:mm a' }}</span>
							<span class="tweet-link"><a href="http://twitter.com/{{tweet.in_reply_to_status.user.screen_name}}/status/{{tweet.in_reply_to_status.id}}" target="_blank"><span class="fa fa-twitter"></span></a></span>
						</div>
						
						<div class="tweet-text-container">
							<emtweet-text tweet="tweet.in_reply_to_status" assignment="assignment" text="tweet.in_reply_to_status.text">{{tweet.in_reply_to_status.text}}</emtweet-text>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="container-fluid">
					<div class="row">
						<div class="col-md-2">
							<div class="container-fluid">
								<div class="tweet-profile-img-container">
									<tweet-profile-image user="tweet.user" size="small"></tweet-profile-image>
								</div>
							</div>
						</div>
						<div class="col-md-10">
							<div class="tweet-header">
								<span ng-if="tweet.in_reply_to_status"><i class="fa fa-reply"></i></span>
								<span class="user-tweet-name">{{tweet.user.name}}</span>
								<span class="user-tweet-screen-name">@{{tweet.user_screen_name}}</span>
								<span class="user-tweet-dot">&middot;</span>
								<span class="user-tweet-creation-time">{{tweet.created_ts | amDateFormat:'MMM Do YYYY  h:mm a' }}</span>
								<span class="tweet-link"><a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}" target="_blank"><span class="fa fa-twitter"></span></a></span>
							</div>
						
							<div class="tweet-text-container">
								<emtweet-text tweet="tweet" assignment="assignment" text="tweet.text">{{tweet.text}}</emtweet-text>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 col-md-offset-2">
							<div class="tweet-media">
								<ul class="styleless">
									<li ng-repeat="media in tweet.media_set">
										<div ng-switch on="media.type">
											<div ng-switch-when="photo">
												<img src="{{media.media_url}}" />
											</div>
											<div ng-switch-when="video">
												<div>video: <a href="{{media.media_url}}">Video # {{media.media_id}}</a></div>
											</div>
										</div>
									</li>
								</ul>
							</div>

							<!-- geo -->
							<div ng-if="tweet.geo_coordinates_0">
								<div class="user-geo-data">
									<a href="http://www.google.com/maps/@{{tweet.geo_coordinates_0}},{{tweet.geo_coordinates_1}},13z" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> {{tweet.geo_coordinates_0}}, {{tweet.geo_coordinates_1}}</a>
								</div>
							</div>


							<!-- retweet bar -->
							<div class="row">
								<div class="col-md-2 tweet-retweet-count"><span class="glyphicon glyphicon-retweet"></span> {{tweet.retweet_count}}</div>
								<div class="col-md-2 tweet-favorite-count"><span class="glyphicon glyphicon-star"></span> {{tweet.favorite_count}}</div>
								<div class="col-md-2 tweet-reply-count"><span class="fa fa-reply-all"></span> {{tweet.replies.length}}</div>
								<div class="col-md-2">
									<div class="container-fluid">
										<div class="tweet-menu dropup">
											<a class="dropdown-toggle" id="dropdownMenu-{{tweet.id}}" data-toggle="dropdown" aria-haspopup="true">
												<span class="glyphicon glyphicon-option-horizontal"></span>
											</a>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenu-{{tweet.id}}">
												<li><a ng-click="(cntrl.showDetails = !cntrl.showDetails)">Toggle Details</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						
						</div>
					</div>


				<!-- extra metadata -->
				<div class="row tweet-extra-data" ng-if="cntrl.showDetails">
					<div class="col-md-10 col-md-offset-2">
						<ul class="styleless">
							<li><em>id</em>: {{tweet.id}}</li>
							<li><em>in reply to id</em>: {{tweet.in_reply_to_status.id}}</li>
							<li><em>retweeted status id</em>: {{tweet.retweeted_status.id}}</li>
							<li></li>
							<li><em>language</em>: {{tweet.lang}}</li>
							<li><em>source</em>: <span ng-bind-html="tweet.source_html"></span></li>
							<li></li>
							<li><em>user geo enabled</em>: {{tweet.user_geo_enabled}}</li>
							<li><em>user favorites count</em>: {{tweet.user_favourites_count}}</li>
							<li><em>user followers count</em>: {{tweet.user_followers_count}}</li>
							<li><em>user friends count</em>: {{tweet.user_friends_count}}</li>
							<li><em>user statuses count</em>: {{tweet.user_statuses_count}}</li>
						</ul>
					</div>
				</div>


				<div class="row tweet-extra-data"  ng-if="cntrl.showDetails">
					<div class="col-md-10 col-md-offset-2">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-10" ng-if="tweet.mentions.length > 0">
									<div class="tweet-mentions">
										<h4>Mentions</h4>
										<ul class="styleless">
											<li ng-repeat="mention in tweet.mentions"><a ui-sref="code.user({ id: mention.id})">@{{mention.screen_name}}</a></li>
										</ul>
									</div>
								</div>
								<div class="row" ng-if="tweet.url_set.length > 0">
									<div class="tweet-urls">
										<h4>Urls</h4>
										<ul class="styleless">
											<li ng-repeat="url in tweet.url_set"><a href="{{url.expanded_url}}">{{url.display_url}}</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- replies -->
				<div class="row tweet-replies-container" ng-if="tweet.replies.length > 0">
					<div class="col-md-9 col-md-offset-1">

							<div class="row">
								<div class="tweet-replies col-md-12">

									<ul class="styleless">
										<li class="tweet-reply container-fluid" ng-repeat="reply in tweet.replies">
											
												<div class="row">
													<div class="col-md-2">
				<div class="tweet-profile-img-container">
														<tweet-profile-image user="reply.user" size="small"></tweet-profile-image>
				</div>									</div>
													<div class="col-md-10">
														<div class="tweet-header">
															<i class="fa fa-reply"></i>
															<span class="user-tweet-name">{{reply.user.name}}</span>
															<span class="user-tweet-screen-name"><tweet-user user_id="reply.user.id" screen_name="reply.user.screen_name"></tweet-user></span>
															<span class="user-tweet-dot">&middot;</span>
															<span class="user-tweet-creation-time">{{reply.created_ts | amDateFormat:'MMM Do YYYY  h:mm a' }}</span>
															<span class="tweet-link"><a href="http://twitter.com/{{reply.user.screen_name}}/twitter/{{reply.id}}" target="_blank"><span class="fa fa-twitter"></span></a></span>
														</div>

														<div class="tweet-text">{{reply.text}}</div>
													</div>
												</div>
											
										</li>
									</ul>
								</div>
							</div>	
					</div>
				</div>				
		</div>
	</div>
